/* This is a partial blocks.css, you need to add more rules
   to this file to complete the assignment.  Do not add any CSS
   styling to the original index.htm / start.htm */
body {
    font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
}

/* Here is one of many  CSS rules you will need... */
#one {
    margin: 5px;
    border : 5px solid blueviolet;
    padding: 5px;
    position: fixed;
    width: 25%;
    right: 30px;
    bottom: 30px;
    font-size: x-large;
}
#two{
    margin: 5px;
    border : 5px solid orangered;
    padding: 5px;
    position: fixed;
    width: 25%;
    right: 30px;
    top: 30px;
    font-size: x-large;
}
#three{
    margin: 5px;
    border : 5px solid orange;
    padding: 5px;
    position: fixed;
    width: 25%;
    left: 30px;
    top: 30px;
    font-size: x-large;
}
#four{
    margin: 5px;
    border : 5px solid yellow;
    padding: 5px;
    position: fixed;
    width: 25%;
    left: 30px;
    bottom: 30px;
    font-size: x-large;
}
#link{
    position: fixed;
    top: 40px;
    right: 50%;
}
#link a{
    background-color: #354eb1;
    color : #fefefe;
    padding: 5px;
    text-decoration: none;
}